﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | @Resources.Global.WebsiteTitle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Sghla.COM" name="description" />
    <meta content="Sghla.COM" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft)
    {
        	<!-- Web Fonts -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap-rtl.min.css">
        <link rel="stylesheet" href="/assets/css/css-rtl/shop.style-rtl.css">

	<!-- CSS Header and Footer -->
        <link rel="stylesheet" href="/assets/css/css-rtl/headers/header-v5-rtl.css">
        <link rel="stylesheet" href="/assets/css/css-rtl/footers/footer-v4-rtl.css">

	<!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="/assets/plugins/animate.css">
        <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
        <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="/assets/plugins/revolution-slider/rs-plugin/css/settings.css">
        <link rel="stylesheet" href="/assets/plugins/owl-carousel2/assets/owl.carousel.css">

	<!-- Style Switcher -->
        <link rel="stylesheet" href="/assets/css/plugins/style-switcher.css">

	<!-- CSS Theme -->
        <link rel="stylesheet" href="/assets/css/theme-colors/dark-red.css" id="style_color">

	<!-- RTL Customization -->
        <link rel="stylesheet" href="/assets/css/css-rtl/rtl.css">

	<!-- CSS Customization -->
        <link rel="stylesheet" href="/assets/css/css-rtl/custom-rtl.css">
    }
    else
    {
        	<!-- Web Fonts -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&amp;subset=cyrillic,latin'>
	<!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/shop.style.css">

	<!-- CSS Header and Footer -->
        <link rel="stylesheet" href="assets/css/headers/header-v5.css">
        <link rel="stylesheet" href="assets/css/footers/footer-v4.css">

	<!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="assets/plugins/animate.css">
        <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
        <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings.css">

	<!-- CSS Theme -->
        <link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">

	<!-- CSS Customization -->
        <link rel="stylesheet" href="assets/css/custom.css">
    }

    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-md page-header-fixed page-quick-sidebar-over-content">

    <!-- BEGIN MAIN LAYOUT -->
    @RenderBody()
    <div class="page-footer">
        <div class="container">
            @System.DateTime.Now.Year © @Resources.Global.siteFooter
        </div>
    </div>

    <!-- JS Global Compulsory -->
    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <script src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="/assets/plugins/back-to-top.js"></script>
    <script src="/assets/plugins/smoothScroll.js"></script>
    <script src="/assets/plugins/jquery.parallax.js"></script>
    <script src="/assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
    <script src="/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- JS Customization -->
    <script src="/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script src="/assets/js/shop.app.js"></script>
    <script src="/assets/js/plugins/owl-carousel-rtl.js"></script>
    <script src="/assets/js/plugins/revolution-slider.js"></script>
    <script src="/assets/js/plugins/style-switcher-rtl.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
            App.initParallaxBg();
            OwlCarousel.initOwlCarousel();
            RevolutionSlider.initRSfullWidth();
            StyleSwitcher.initStyleSwitcher();
        });
    </script>
    <!--[if lt IE 9]>
        <script src="/assets/plugins/respond.js"></script>
        <script src="/assets/plugins/html5shiv.js"></script>
        <script src="/assets/js/plugins/placeholder-IE-fixes.js"></script>
        <![endif]-->

</body>
</html>
