﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Properties -->
    <title>موقع شغلة - @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/Content/assets/Semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/Semantic/semantic.ar.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/css/custom.css">
    <script type="text/javascript" src="/Content/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/assets/js/jquery.md5.js"></script>
    <script type="text/javascript" src="/Content/assets/Semantic/semantic.min.js"></script>
    <!--    <script type="text/javascript" src="assets/noty/packaged/jquery.noty.packaged.js"></script>-->
    <script type="text/javascript" src="/Content/assets/js/custom.js"></script>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
