﻿@model SghlaDotCom.Models.DAL.SideBarItems.SideBarItemsModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" id="ItemsBookCategories" ng-app="AppItemsBook" ng-controller="ItemsBookController">
        <h4>SideBarItemsModels</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ControllerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select ng-model="ControllerName" name="ControllerName" id="ControllerName" ng-options="o as o for o in controllerList" class="form-control" ng-change="getRelatedMethods()"></select>
                @Html.ValidationMessageFor(model => model.ControllerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActionMethodName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select ng-model="ActionMethodName" name="ActionMethodName" id="ActionMethodName" ng-options="o as o for o in methodList" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.ActionMethodName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionEng, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionEng, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescriptionEng, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccessedByRoles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AccessedByRoles", null, "--اختر--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AccessedByRoles, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.selectedIcon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.selectedIcon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.selectedIcon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        var appItemsBook = angular.module('AppItemsBook', ['angularMoment']);
        appItemsBook.controller('ItemsBookController', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {

            $scope.controllerList = [];
            $scope.methodList = [];

            $http.post('/SideBarItemsModels/FetchControllersNames').then(function (recData) {
                if (recData.data.length > 0) {
                    console.log(recData);
                    $scope.controllerList = recData.data;
                }
            });

            $scope.getRelatedMethods = function () {
                console.log($scope.controllerList);
                $http.post('/SideBarItemsModels/FetchActionMethod?controllerName=' + $scope.ControllerName).then(function (recData) {
                    if (recData.data.length > 0) {
                        console.log(recData);
                        $scope.methodList = recData.data;
                    }
                });
            }
        }]);
        angular.bootstrap(document.getElementById("ItemsBookCategories"), ['AppItemsBook']);

        jQuery(document).ready(function () {
            jQuery('[data-confirm]').click(function (e) {
                if (!confirm(jQuery(this).attr("data-confirm"))) {
                    e.preventDefault();
                }
            });
        });
    </script>


}
