﻿@model SghlaDotCom.Models.DAL.SideBarItems.SideBarItemsModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SideBarItemsModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionMethodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionMethodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionEng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionEng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessedByRoles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessedByRoles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
