﻿@model SghlaDotCom.Models.DAL.AccessControl.AccessControlModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AccessControlModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.functionalityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.functionalityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.controllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.controllerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actionMethodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actionMethodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allowRoles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allowRoles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preventedRoles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preventedRoles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allowedUsers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allowedUsers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
