﻿@model SghlaDotCom.Models.ViewModels.TreeStruct.TreeNode
@{
    ViewBag.Title = "GetTree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/jstree/dist/themes/default/style.min.css" />
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div id="tree_1" class="tree-demo">
                    <ul>
                        <li>
                            هيكلية الموقع
                            <ul>
                                @foreach (var node_1 in Model.GetNodes())
                                {
                                    <li data-jstree='{ "opened" : true }' id="@node_1.id">
                                        <a href="javascript:;">
                                            @node_1.text
                                        </a>
                                        <ul>
                                            @foreach (var node_2 in node_1.GetNodes())
                                            {
                                                <li data-jstree='{ "type" : "icon"}' id="@node_2.id">
                                                    @node_2.text
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("GetTree", "AccessControlModels", FormMethod.Post, new { id = "myForm" }))
                {
                    <div class="row">
                        <div class="col-md-8">
                            @Html.DropDownList("roles", null, htmlAttributes: new { @class = "form-control", onChange = "check(this);" })
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="ارسال" class="btn btn-default" />
                        </div>
                    </div>

                    <input type="hidden" id="authorized" name="authorized" required />

                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div id="tree_2" class="tree-demo">
                    <ul>
                        <li>
                            هيكلية الموقع
                            <ul>
                                @foreach (var node_1 in Model.GetNodes())
                                {
                                    <li data-jstree='{ "opened" : true }' id="@node_1.id">
                                        <a href="javascript:;">
                                            @node_1.text
                                        </a>
                                        <ul>
                                            @foreach (var node_2 in node_1.GetNodes())
                                            {
                                                <li data-jstree='{ "type" : "icon"}' id="@node_2.id">
                                                    @node_2.text
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("GetTree", "AccessControlModels", FormMethod.Post, new { id = "myForm2" }))
                {
                    <div class="row">
                        <div class="col-md-8">

                            @Html.DropDownList("sentUsers", null, htmlAttributes: new { @class = "form-control", onChange = "checkUser(this);" })


                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="ارسال" class="btn btn-default" />
                        </div>
                    </div>
                        <input type="hidden" id="dealWithUsers2" name="dealWithUsers2" value="1" />
                        <input type="hidden" id="authorized2" name="authorized2" required />
                }
            </div>
        </div>
    </div>
</div>
<br />
@section pageLevelScripts{
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/global/plugins/jstree/dist/jstree.min.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="/assets/admin/pages/scripts/ui-tree.js"></script>
    <script>
        var tree = $("#tree_1").jstree({
            "core": {
                "check_callback": false,
                "multiple": true
            },
            "checkbox": {
                "three_state": true, // to avoid that fact that checking a node also check others
                "whole_node": false,  // to avoid checking the box just clicking the node
                //   "tie_selection": false // for checking without selecting and selecting without checking
            },
            "types": {
                "default": {
                }
            },
            "plugins": ["themes", "checkbox", "sort", "ui", "real_checkboxes"],
        })
        $("#myForm").submit(function (event) {
            var ttt = "";
            for (var i = 0; i < $('#tree_1').jstree('get_selected').length; i++) {
                if (i == ($('#tree_1').jstree('get_selected').length - 1)) {
                    ttt += $('#tree_1').jstree('get_selected')[i];
                } else {
                    ttt += $('#tree_1').jstree('get_selected')[i] + ',';
                }
            }
            console.log('ttt = ' + ttt)
            $('#authorized').val(ttt);
        });



        @foreach (var node_1 in Model.GetNodes())
        {
            foreach (var node_2 in node_1.GetNodes().Where(a => a.selectedForRoles == true)) {

                    <text>
        tree.jstree('select_node', '@node_2.id');
        </text>

            }
        }

        function check(elem) {
            window.location.href = "/@ViewContext.RouteData.Values["controller"].ToString()/@ViewContext.RouteData.Values["action"].ToString()?sentRole=" + document.getElementById("roles").options[document.getElementById("roles").selectedIndex].value + "&sentUser=" + +document.getElementById("sentUsers").options[document.getElementById("sentUsers").selectedIndex].value
        }
    </script>

    <script>

        var tree2 = $("#tree_2").jstree({
            "core": {
                "check_callback": false,
                "multiple": true
            },
            "checkbox": {
                "three_state": true, // to avoid that fact that checking a node also check others
                "whole_node": false,  // to avoid checking the box just clicking the node
                //   "tie_selection": false // for checking without selecting and selecting without checking
            },
            "types": {
                "default": {
                }
            },
            "plugins": ["themes", "checkbox", "sort", "ui", "real_checkboxes"],
        })

        $("#myForm2").submit(function (event) {
            var ttt = "";
            for (var i = 0; i < $('#tree_2').jstree('get_selected').length; i++) {
                if (i == ($('#tree_2').jstree('get_selected').length - 1)) {
                    ttt += $('#tree_2').jstree('get_selected')[i];
                } else {
                    ttt += $('#tree_2').jstree('get_selected')[i] + ',';
                }
            }
            console.log('ttt = ' + ttt)
            $('#authorized2').val(ttt);
        });



        @foreach (var node_1 in Model.GetNodes())
        {
            foreach (var node_2 in node_1.GetNodes().Where(a=>a.selectedForUsers == true)) {


                    <text>
        tree2.jstree('select_node', '@node_2.id');
        console.log('treeeeeeee2');
        </text>

            }
        }

        function checkUser(elem) {
            window.location.href = "/@ViewContext.RouteData.Values["controller"].ToString()/@ViewContext.RouteData.Values["action"].ToString()?sentRole=" + document.getElementById("roles").options[document.getElementById("roles").selectedIndex].value + "&sentUser=" + document.getElementById("sentUsers").options[document.getElementById("sentUsers").selectedIndex].value
        }
    </script>
}

@section callComponent{
    UITree.init();
}
