﻿@model IEnumerable<SghlaDotCom.Models.DAL.AccessControl.AccessControlModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.functionalityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.controllerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actionMethodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.allowRoles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preventedRoles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.allowedUsers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.functionalityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.controllerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actionMethodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.allowRoles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preventedRoles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.allowedUsers)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
