﻿@model SghlaDotCom.Models.ForgotPasswordViewModel
@using BotDetect.Web.Mvc
@using BotDetect
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" style="margin-bottom:15px">
        <div class="row">
            @Html.Label(Resources.Global.notRobot, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @{
                    MvcCaptcha exampleCaptcha = new MvcCaptcha("ForgetCap");
                    exampleCaptcha.Locale = "en-US";
                    exampleCaptcha.CodeLength = 5;
                    exampleCaptcha.CodeStyle = BotDetect.CodeStyle.Alphanumeric;
                }
                @Html.Captcha(exampleCaptcha)
                @Html.TextBox("CaptchaCode", null)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
