﻿@model SghlaDotCom.Models.RegisterViewModel
@using BotDetect.Web.Mvc
@using BotDetect
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(
    x => x.Gender,
    new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" style="margin-bottom:15px">
        <div class="row">
                @Html.Label(Resources.Global.notRobot, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @{
                    MvcCaptcha exampleCaptcha = new MvcCaptcha("RegisterCap");
                    exampleCaptcha.Locale = "en-US";
                    exampleCaptcha.CodeLength = 5;
                    exampleCaptcha.CodeStyle = BotDetect.CodeStyle.Alphanumeric;
                }
                @Html.Captcha(exampleCaptcha)
                @Html.TextBox("CaptchaCode",null)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
                    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
